.blockContainer {
  position: relative;
}
.typeList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}
a {
  color: black;
}

.linkText {
  font-size: 15px;
}

.button {
  transition: 0.1s color ease;
  background-color: #697dff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 140px;
  height: 50px;
}
.button:hover {
  color: white;
  box-shadow: 0 0 5px 1px black;
}

.active .button {
  color: white;
  box-shadow: 0 0 5px 1px black;
}

@media screen and (min-width: 480px) {
  .button {
    padding: 10px;
    min-width: 200px;
  }
  .linkText {
    font-size: 10px;
  }
  .typeList {
    gap: 15px;
    padding: 0px;
  }
}
@media screen and (min-width: 768px) {
  .button {
    padding: 10px;
    min-width: 200px;
  }
  .linkText {
    font-size: 15px;
  }
  .typeList {
    gap: 15px;
    padding: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    padding: 10px;
    min-width: 200px;
    height: 60px;
  }
  .linkText {
    font-size: 20px;
  }
  .typeList {
    gap: 15px;
    padding: 0px;
  }
}
