.typeList {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
}
a {
  color: black;
}

.linkText {
  font-size: 15px;
}

.button {
  transition: 0.1s color ease;
  background-color: #697dff;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.button:hover {
  color: white;
  box-shadow: 0 0 5px 1px black;
}

.active .button {
  color: white;
  box-shadow: 0 0 5px 1px black;
}
