.answersList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answersListItem {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.question {
  padding-left: 10px;
}
p {
  transition: 0.5s ease;
}
.correct {
  transition: 0.5s ease;
  font-weight: bold;
  color: green;
}

.wrong {
  color: red;
}
.shake {
  animation: shake 0.5s ease;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(0.5em);
  }
  40% {
    transform: translate(-0.5em);
  }
  60% {
    transform: translate(0.5em);
  }
  80% {
    transform: translate(-0.5em);
  }
  100% {
    transform: translate(0);
  }
}

@media screen and (min-width: 1200px) {
  .answersContainer {
    padding: 20px;
  }
  .question {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}
